<?xml version="1.0"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="AdmConnectionString" connectionString="Data Source=(local);Initial Catalog=Administracion;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="BibliotecaConnectionString" connectionString="Data Source=(local);Initial Catalog=Biblioteca;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
        <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
