<?xml version="1.0" encoding="utf-8"?>

<!-- 
   Para autenticación mediante formularios,
   poner la etiqueta de la cabecera configuration así.
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

    <!-- Cadenas de conexión-->
    <connectionStrings>
        <add name="AdmConnectionString" connectionString="Data Source=(local);Initial Catalog=Administracion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SqlServices" connectionString="Data Source=(local);Initial Catalog=aspnetdb;Integrated Security=SSPI;" />
        <add name="BibliotecaConnectionString" connectionString="Data Source=(local);Initial Catalog=Biblioteca;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />

        <!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. En nuestro
            caso autenticación mediante formularios
        -->
        <authentication mode="Forms">
            <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH" />
        </authentication>

        <!-- Habilitación de la característica de la administración de funciones. -->
        <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
           <providers>
               <!-- ¡¡¡Ojo!!!. Establecer el nombre de la aplicación-->
               <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SqlServices" applicationName="EjemploAutenticacion"/>
           </providers>
        </roleManager>
        <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
           <providers>
                <!-- ¡¡¡Ojo!!!. Establecer el nombre de la aplicación-->
                <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlServices" applicationName="EjemploAutenticacion"/>
           </providers>
        </membership>
    </system.web>

 
</configuration>
